<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="DefaultLogFilePath" value="C:\Logs"/>
        <add key="DefaultLogFileName" value="tagFetcherLog.txt"/>
        <add key="AudioFingerprintApplicationPath" value="C:\chromaprint-fpcalc-1.4.2-windows-x86_64"/>
        <add key="AudioFingerprintApplicationName" value="fpcalc.exe"/>
        <add key="ExposedTagsFilePath" value="C:\Logs"/>
        <add key="ExposedTagsFileName" value="ExposedTags.xml"/>
        <add key="ExposedWebsitesFilePath" value="C:\Logs"/>
        <add key="ExposedWebsitesFileName" value="ExposedWebsites.xml"/>
    </appSettings>
</configuration>